@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{

    box-sizing: border-box;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }

.hamburger{
    display:block;
}

nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}

a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    color:rgb(28, 28, 28);
}

li {
    size: 2vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}
/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44,end) 1s 1 normal both,
                
               blinkTextCursor 500ms steps(44,end) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .line-1{
    overflow: hidden; 
    white-space: nowrap;
    border-right: 2px solid
    rgba(255,255,255,.75)

  }

/* elements of nav */
nav *{  
display: inline;
}

nav li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

body {
     background-color: rgb(28, 28, 28);
    /*margin-top: 10px;                                               under the nav-bar */
    padding: 20px;
}

Container {
position: fixed;
height:  300px;
top: 50px;
width:max-content;
display:flex;
float: left;
justify-content: center;
background-color: black;
}

Box {
    height: 40px;
    width: 40px;
    background-color: antiquewhite;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
